SoF1-master/ClienteJSF/src/conf/xml-resources/web-service-references/Resultados/wsdl/localhost_8080/Resultados/Resultados.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="Resultados">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/Resultados/Resultados?xsd=1"/>
</xsd:schema>
</types>
<message name="obtenerSesionPracticaByPremio">
<part name="parameters" element="tns:obtenerSesionPracticaByPremio"/>
</message>
<message name="obtenerSesionPracticaByPremioResponse">
<part name="parameters" element="tns:obtenerSesionPracticaByPremioResponse"/>
</message>
<message name="simularTorneo">
<part name="parameters" element="tns:simularTorneo"/>
</message>
<message name="obtenerResultadoCarreraBySesionCarrera">
<part name="parameters" element="tns:obtenerResultadoCarreraBySesionCarrera"/>
</message>
<message name="obtenerResultadoCarreraBySesionCarreraResponse">
<part name="parameters" element="tns:obtenerResultadoCarreraBySesionCarreraResponse"/>
</message>
<message name="obtenerSesionClasificacionByPremio">
<part name="parameters" element="tns:obtenerSesionClasificacionByPremio"/>
</message>
<message name="obtenerSesionClasificacionByPremioResponse">
<part name="parameters" element="tns:obtenerSesionClasificacionByPremioResponse"/>
</message>
<message name="verResultadoGeneral">
<part name="parameters" element="tns:verResultadoGeneral"/>
</message>
<message name="verResultadoGeneralResponse">
<part name="parameters" element="tns:verResultadoGeneralResponse"/>
</message>
<message name="obtenerResultadoPracticaBySesionPractica">
<part name="parameters" element="tns:obtenerResultadoPracticaBySesionPractica"/>
</message>
<message name="obtenerResultadoPracticaBySesionPracticaResponse">
<part name="parameters" element="tns:obtenerResultadoPracticaBySesionPracticaResponse"/>
</message>
<message name="obtenerSesionCarreraByPremio">
<part name="parameters" element="tns:obtenerSesionCarreraByPremio"/>
</message>
<message name="obtenerSesionCarreraByPremioResponse">
<part name="parameters" element="tns:obtenerSesionCarreraByPremioResponse"/>
</message>
<message name="obtenerResultadoClasificacionBySesionClasificacion">
<part name="parameters" element="tns:obtenerResultadoClasificacionBySesionClasificacion"/>
</message>
<message name="obtenerResultadoClasificacionBySesionClasificacionResponse">
<part name="parameters" element="tns:obtenerResultadoClasificacionBySesionClasificacionResponse"/>
</message>
<portType name="Resultados">
<operation name="obtenerSesionPracticaByPremio">
<input wsam:Action="http://ws/Resultados/obtenerSesionPracticaByPremioRequest" message="tns:obtenerSesionPracticaByPremio"/>
<output wsam:Action="http://ws/Resultados/obtenerSesionPracticaByPremioResponse" message="tns:obtenerSesionPracticaByPremioResponse"/>
</operation>
<operation name="simularTorneo">
<input wsam:Action="http://ws/Resultados/simularTorneo" message="tns:simularTorneo"/>
</operation>
<operation name="obtenerResultadoCarreraBySesionCarrera">
<input wsam:Action="http://ws/Resultados/obtenerResultadoCarreraBySesionCarreraRequest" message="tns:obtenerResultadoCarreraBySesionCarrera"/>
<output wsam:Action="http://ws/Resultados/obtenerResultadoCarreraBySesionCarreraResponse" message="tns:obtenerResultadoCarreraBySesionCarreraResponse"/>
</operation>
<operation name="obtenerSesionClasificacionByPremio">
<input wsam:Action="http://ws/Resultados/obtenerSesionClasificacionByPremioRequest" message="tns:obtenerSesionClasificacionByPremio"/>
<output wsam:Action="http://ws/Resultados/obtenerSesionClasificacionByPremioResponse" message="tns:obtenerSesionClasificacionByPremioResponse"/>
</operation>
<operation name="verResultadoGeneral">
<input wsam:Action="http://ws/Resultados/verResultadoGeneralRequest" message="tns:verResultadoGeneral"/>
<output wsam:Action="http://ws/Resultados/verResultadoGeneralResponse" message="tns:verResultadoGeneralResponse"/>
</operation>
<operation name="obtenerResultadoPracticaBySesionPractica">
<input wsam:Action="http://ws/Resultados/obtenerResultadoPracticaBySesionPracticaRequest" message="tns:obtenerResultadoPracticaBySesionPractica"/>
<output wsam:Action="http://ws/Resultados/obtenerResultadoPracticaBySesionPracticaResponse" message="tns:obtenerResultadoPracticaBySesionPracticaResponse"/>
</operation>
<operation name="obtenerSesionCarreraByPremio">
<input wsam:Action="http://ws/Resultados/obtenerSesionCarreraByPremioRequest" message="tns:obtenerSesionCarreraByPremio"/>
<output wsam:Action="http://ws/Resultados/obtenerSesionCarreraByPremioResponse" message="tns:obtenerSesionCarreraByPremioResponse"/>
</operation>
<operation name="obtenerResultadoClasificacionBySesionClasificacion">
<input wsam:Action="http://ws/Resultados/obtenerResultadoClasificacionBySesionClasificacionRequest" message="tns:obtenerResultadoClasificacionBySesionClasificacion"/>
<output wsam:Action="http://ws/Resultados/obtenerResultadoClasificacionBySesionClasificacionResponse" message="tns:obtenerResultadoClasificacionBySesionClasificacionResponse"/>
</operation>
</portType>
<binding name="ResultadosPortBinding" type="tns:Resultados">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="obtenerSesionPracticaByPremio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="simularTorneo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="obtenerResultadoCarreraBySesionCarrera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerSesionClasificacionByPremio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="verResultadoGeneral">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerResultadoPracticaBySesionPractica">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerSesionCarreraByPremio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerResultadoClasificacionBySesionClasificacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Resultados">
<port name="ResultadosPort" binding="tns:ResultadosPortBinding">
<soap:address location="http://localhost:8080/Resultados/Resultados"/>
</port>
</service>
</definitions>