SoF1-master/Implementación/AppClienteWS/xml-resources/web-service-references/CRUDPiloto/wsdl/localhost_8080/AppFormula1Servidor/CRUDPiloto.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://piloto/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://piloto/" name="CRUDPiloto">
<types>
<xsd:schema>
<xsd:import namespace="http://piloto/" schemaLocation="http://localhost:8080/AppFormula1Servidor/CRUDPiloto?xsd=1"/>
</xsd:schema>
</types>
<message name="remove">
<part name="parameters" element="tns:remove"/>
</message>
<message name="find">
<part name="parameters" element="tns:find"/>
</message>
<message name="findResponse">
<part name="parameters" element="tns:findResponse"/>
</message>
<message name="create">
<part name="parameters" element="tns:create"/>
</message>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="edit">
<part name="parameters" element="tns:edit"/>
</message>
<portType name="CRUDPiloto">
<operation name="remove">
<input wsam:Action="http://piloto/CRUDPiloto/remove" message="tns:remove"/>
</operation>
<operation name="find">
<input wsam:Action="http://piloto/CRUDPiloto/findRequest" message="tns:find"/>
<output wsam:Action="http://piloto/CRUDPiloto/findResponse" message="tns:findResponse"/>
</operation>
<operation name="create">
<input wsam:Action="http://piloto/CRUDPiloto/create" message="tns:create"/>
</operation>
<operation name="findAll">
<input wsam:Action="http://piloto/CRUDPiloto/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://piloto/CRUDPiloto/findAllResponse" message="tns:findAllResponse"/>
</operation>
<operation name="edit">
<input wsam:Action="http://piloto/CRUDPiloto/edit" message="tns:edit"/>
</operation>
</portType>
<binding name="CRUDPilotoPortBinding" type="tns:CRUDPiloto">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="remove">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="find">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="create">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="edit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
</binding>
<service name="CRUDPiloto">
<port name="CRUDPilotoPort" binding="tns:CRUDPilotoPortBinding">
<soap:address location="http://localhost:8080/AppFormula1Servidor/CRUDPiloto"/>
</port>
</service>
</definitions>