ClienteJSF/src/conf/xml-resources/web-service-references/Resultados/wsdl/localhost_8080/AppFormula1Servidor/Resultados.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="Resultados">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/AppFormula1Servidor/Resultados?xsd=1"/>
</xsd:schema>
</types>
<message name="verResultadoGeneral">
<part name="parameters" element="tns:verResultadoGeneral"/>
</message>
<message name="verResultadoGeneralResponse">
<part name="parameters" element="tns:verResultadoGeneralResponse"/>
</message>
<message name="obtenerResultadoCarreraByPremio">
<part name="parameters" element="tns:obtenerResultadoCarreraByPremio"/>
</message>
<message name="obtenerResultadoCarreraByPremioResponse">
<part name="parameters" element="tns:obtenerResultadoCarreraByPremioResponse"/>
</message>
<message name="obtenerResultadoPracticaByPremio">
<part name="parameters" element="tns:obtenerResultadoPracticaByPremio"/>
</message>
<message name="obtenerResultadoPracticaByPremioResponse">
<part name="parameters" element="tns:obtenerResultadoPracticaByPremioResponse"/>
</message>
<message name="obtenerCircuitoByPremio">
<part name="parameters" element="tns:obtenerCircuitoByPremio"/>
</message>
<message name="obtenerCircuitoByPremioResponse">
<part name="parameters" element="tns:obtenerCircuitoByPremioResponse"/>
</message>
<message name="obtenerPilotosByEscuderia">
<part name="parameters" element="tns:obtenerPilotosByEscuderia"/>
</message>
<message name="obtenerPilotosByEscuderiaResponse">
<part name="parameters" element="tns:obtenerPilotosByEscuderiaResponse"/>
</message>
<message name="obtenerResultadoClasificacionByPremio">
<part name="parameters" element="tns:obtenerResultadoClasificacionByPremio"/>
</message>
<message name="obtenerResultadoClasificacionByPremioResponse">
<part name="parameters" element="tns:obtenerResultadoClasificacionByPremioResponse"/>
</message>
<message name="simularTorneo">
<part name="parameters" element="tns:simularTorneo"/>
</message>
<portType name="Resultados">
<operation name="verResultadoGeneral">
<input wsam:Action="http://ws/Resultados/verResultadoGeneralRequest" message="tns:verResultadoGeneral"/>
<output wsam:Action="http://ws/Resultados/verResultadoGeneralResponse" message="tns:verResultadoGeneralResponse"/>
</operation>
<operation name="obtenerResultadoCarreraByPremio">
<input wsam:Action="http://ws/Resultados/obtenerResultadoCarreraByPremioRequest" message="tns:obtenerResultadoCarreraByPremio"/>
<output wsam:Action="http://ws/Resultados/obtenerResultadoCarreraByPremioResponse" message="tns:obtenerResultadoCarreraByPremioResponse"/>
</operation>
<operation name="obtenerResultadoPracticaByPremio">
<input wsam:Action="http://ws/Resultados/obtenerResultadoPracticaByPremioRequest" message="tns:obtenerResultadoPracticaByPremio"/>
<output wsam:Action="http://ws/Resultados/obtenerResultadoPracticaByPremioResponse" message="tns:obtenerResultadoPracticaByPremioResponse"/>
</operation>
<operation name="obtenerCircuitoByPremio">
<input wsam:Action="http://ws/Resultados/obtenerCircuitoByPremioRequest" message="tns:obtenerCircuitoByPremio"/>
<output wsam:Action="http://ws/Resultados/obtenerCircuitoByPremioResponse" message="tns:obtenerCircuitoByPremioResponse"/>
</operation>
<operation name="obtenerPilotosByEscuderia">
<input wsam:Action="http://ws/Resultados/obtenerPilotosByEscuderiaRequest" message="tns:obtenerPilotosByEscuderia"/>
<output wsam:Action="http://ws/Resultados/obtenerPilotosByEscuderiaResponse" message="tns:obtenerPilotosByEscuderiaResponse"/>
</operation>
<operation name="obtenerResultadoClasificacionByPremio">
<input wsam:Action="http://ws/Resultados/obtenerResultadoClasificacionByPremioRequest" message="tns:obtenerResultadoClasificacionByPremio"/>
<output wsam:Action="http://ws/Resultados/obtenerResultadoClasificacionByPremioResponse" message="tns:obtenerResultadoClasificacionByPremioResponse"/>
</operation>
<operation name="simularTorneo">
<input wsam:Action="http://ws/Resultados/simularTorneo" message="tns:simularTorneo"/>
</operation>
</portType>
<binding name="ResultadosPortBinding" type="tns:Resultados">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="verResultadoGeneral">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerResultadoCarreraByPremio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerResultadoPracticaByPremio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerCircuitoByPremio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerPilotosByEscuderia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerResultadoClasificacionByPremio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="simularTorneo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
</binding>
<service name="Resultados">
<port name="ResultadosPort" binding="tns:ResultadosPortBinding">
<soap:address location="http://localhost:8080/AppFormula1Servidor/Resultados"/>
</port>
</service>
</definitions>