SoF1-master/ClienteJSF/src/conf/xml-resources/web-service-references/Auth/wsdl/localhost_8080/Auth/Auth.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="Auth">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/Auth/Auth?xsd=1"/>
</xsd:schema>
</types>
<message name="iniciarSesion">
<part name="parameters" element="tns:iniciarSesion"/>
</message>
<message name="iniciarSesionResponse">
<part name="parameters" element="tns:iniciarSesionResponse"/>
</message>
<message name="cerrarSesion">
<part name="parameters" element="tns:cerrarSesion"/>
</message>
<message name="cerrarSesionResponse">
<part name="parameters" element="tns:cerrarSesionResponse"/>
</message>
<message name="registrarUsuario">
<part name="parameters" element="tns:registrarUsuario"/>
</message>
<message name="registrarUsuarioResponse">
<part name="parameters" element="tns:registrarUsuarioResponse"/>
</message>
<portType name="Auth">
<operation name="iniciarSesion">
<input wsam:Action="http://ws/Auth/iniciarSesionRequest" message="tns:iniciarSesion"/>
<output wsam:Action="http://ws/Auth/iniciarSesionResponse" message="tns:iniciarSesionResponse"/>
</operation>
<operation name="cerrarSesion">
<input wsam:Action="http://ws/Auth/cerrarSesionRequest" message="tns:cerrarSesion"/>
<output wsam:Action="http://ws/Auth/cerrarSesionResponse" message="tns:cerrarSesionResponse"/>
</operation>
<operation name="registrarUsuario">
<input wsam:Action="http://ws/Auth/registrarUsuarioRequest" message="tns:registrarUsuario"/>
<output wsam:Action="http://ws/Auth/registrarUsuarioResponse" message="tns:registrarUsuarioResponse"/>
</operation>
</portType>
<binding name="AuthPortBinding" type="tns:Auth">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="iniciarSesion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cerrarSesion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Auth">
<port name="AuthPort" binding="tns:AuthPortBinding">
<soap:address location="http://localhost:8080/Auth/Auth"/>
</port>
</service>
</definitions>